<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stores</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Stores list</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount of books</th>
            </tr>
        </thead>
        <tbody>
            {% for store in stores %}
            <tr>
                <td><a href="{% url 'books:store' pk=store.pk %}">{{ store.name }}</a></td>
                <td>{{ store.num_books }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>